* {
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
}

html, body {
    background: #000;
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #444;
    padding: 12px;
    height: 200px;
    user-select: none;
}

.navbar-title {
    font-family: October Crow, serif;
    font-size: 24px;
    font-weight: 400;
    color: #f7f5e6;
    margin: 0;
    padding: 0;
    font-weight: 600;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black, 0 6px 1px black;
}

.navbar-img {
    max-width: 100%;
    max-height: 100%;
}

.search-bar-section {
    color: white;
    background: #333;
    padding: 20px 12px;
}

.search-bar-header {
    font-size: 24px;
    margin: 0 0 20px;
}

.search-bar-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    border: 1px solid black
}

.search-bar-selected-item {
    position: absolute;
    left: 12px;
    padding: 5px;
    background: #6200ee;
    color: white;
}

.search-bar-selected-item-remove {
    background: inherit;
    border:0;
    color: white;
}

.search-bar-input {
    flex: 1;
    height: 49px;
    padding: 12px;
    border: 0;
    font-size: 18px;
}

.search-bar-input-selected::placeholder {
    color: transparent;
}

.search-bar-button {
    border: 0;
    text-align: center;
    height: 49px;
    width: 49px;
    /* border-bottom-right-radius: 10px; */
    /* border-top-right-radius: 10px; */
    background: #6200ee;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.react-autosuggest__container {
    position: relative;
}

.react-autosuggest__suggestions-container {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-right: 49px;
    background: white;
    color: #121212;
    border: 1px solid black;
}

.react-autosuggest__suggestions-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.react-autosuggest__suggestion {
    padding: 12px;
    height: 49px;
    font-size: 18px;
    border-bottom: 1px solid black;
}

.react-autosuggest__suggestion--highlighted {
    background: #f7f5e6;
}

.item-list-section {
    margin: 0 auto;
    background-color: #121212;
    color: #fff;
    /* padding: 0 70px; */
    /* max-width: 320px; */
}

.item-list {
    -webkit-user-select: none;
    -moz-user-select: none;
}

.item-list-header {
    font-size: 24px;
    padding: 15px 12px;
    margin: 0;
}

.item-list-empty-msg {
    margin-left: 12px;
}

.item {
    display: flex;
    flex-direction: row;
    height: auto;
    align-items: center;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #202020;
}

.item:last-child {
    border-bottom: 0;
}

.item-img-cropper {
    width: 40px;
    height: 40px;
    overflow: hidden;
    margin: 12px;
    border-radius: 50%;
    background-color: #f1f1f1;
}

.item-img {
    display: block;
    height: 100%;
    margin: 0 auto;
}

.item-description {
    flex: 1;
    font-size: 20px;
}

.item-quantity-box {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 12px;
    padding: 0 5px;
}

.item-quantity {
    font-size: 20px;
    background-color: #121212;
}

.item-quantity-box:hover > .item-quantity {
    display: none;
}

.item-button::-moz-focus-inner {
    border: 0;
}
.item-button {
    background-color: inherit;
    outline: none;
}

.item-quantity-box:hover > .item-button {
    display: inline;
    border: 0;
    margin: 0;
    padding: 0;
    color: #b00020;
    font-size: 25px;
    animation-name: rotation;
    animation-duration: 0.2s;
}

@keyframes rotation {
    0% {
        transform: rotate(-90deg);
        color: white;
    }
}

.item-button {
    display:none;
}
